/* page */
body, p, h1, h2, input, textarea {
    margin: 0;
    font-family: Roboto;
}

h2 {
    font-size: 30px;
}

/* navbar */
#navbar {
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block;
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img{
    height: 35px;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
}

#navbar nav {
    float: right;
}

#navbar ul {
    margin-top: 22px;
}

#navbar li {
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: white;
}

#navbar-list li a:hover {
    border-bottom: 1px solid #FFF;
}

/* banner */
#main-banner {
    height: 70vh;
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)
        ),
        url(../img/ftfundo.jpg) no-repeat;
    background-size: cover;
    padding-top: 15vh;
}

#banner-info {

    text-align: center;
    color: white;
}

#banner-info img {
    height: 350px;
    margin-bottom: 30px;
}

#banner-info p {
    background-color: var(--color-primary);
    font-weight: bold;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
	border-radius: 3px;
}

#about-section {
  text-align: center;
  background-color: var(--color-primary);
  color: #FFF;
  padding-top: 50px;
  height: 350px;
}

#about-section h2 {
  margin-bottom: 20px;
}

#about-section p {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  line-height: 30px;
  text-align: justify;
  line-height: 18pt;
}

/* highlights */
#links-section {
    margin-top: -70px;
    background-color: white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#links-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}

.central {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.links-container h3 {
    color: var(--color-primary);
    font-size: 20px;
}

.links-container img {
    height: 90px;
    padding: 15px;
    margin-bottom: 25px;
    
}

.links-container p {
    line-height: 25px;
}

.links-container a {
    text-decoration: none;
}

.links-container h3 {
    padding: 5px;
    margin: auto;
    margin-bottom: 25px;
    width: 50%;
    border: 2px solid var(--color-primary);
    transition: color 0.5s, border 0.5s;
}

.links-container h3:hover {
    color: black;
    border: 2px solid black;
}

/* residents */
#residents-section {
    margin: auto;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

#residents-section h2 {
    color: var(--color-primary);
    margin-bottom: 30px;
}

#residents-section p {
    margin-bottom: 50px;
}

#residents-section a {
    font-weight: bold;
    color: var(--color-primary);
}

.photos {
    display: grid;
    justify-content: center;
    grid-gap: 50px;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-template-areas: 
        "davi toni rat"
        "mach pedr hulk"
    ;
}

.napa img{
    grid-area: toni;
    height: 200px;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
}

.dav img {
    grid-area: dav;
    height: 200px;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
}

.mach img {
    grid-area: mach;
    height: 200px;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
}

.pedr img {
    grid-area: pedr;
    height: 200px;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
}

.hulk img {
    grid-area: hulk;
    height: 200px;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
}

.rat img {
    grid-area: rat;
    height: 200px;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
}

/* footer */
footer {
    padding: 50px 0;
    background-color: rgb(39, 39, 39);
    color: #FFF;
    text-align: center;
}

footer img {
    height: 120px;
    margin: 30px 0;
}

footer p {
    margin-top: 50px;
    font-style: italic;
    font-size: 0.8rem;
}

footer form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer input, footer textarea {
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

footer .detail {
    font-weight: bold;
}

#subir {
    position:fixed;
    bottom:20px;
    right:20px;
}

#voltarTopo img {
    height: 20px;
}

input[type=text],[type=email] {
    border: 2px solid var(--color-primary);
    border-radius: 4px;
}

input[type=submit]:hover {

}

input[type=submit] {
    font-weight: 900;
    font-size: 1.1rem;
    color: white;
    background-color: var(--color-primary);
    border-radius: 4px;
    cursor: pointer;
}

.msg {
    height: 150px;
}

inputs {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

  /* responsive */
  @media(max-width: 450px) {

    /* geral */
    p, input, textarea, #navbar-list li a {
        font-size: 1.2rem;   
    }

    /* navbar */
    #navbar h2 {
        display: none;
    }

    #navbar img {
        top: 9px;
    }

    #navbar ul {
        margin-top: 1.1rem; /* rem - root element */
    }

    /* banner */
    #main-banner {
        height: 40vh;
        padding-top: 5vh;
        padding-bottom: 10vh;
    }

    #banner-info {
        text-align: center;
    }

    #banner-info p {
        margin: 0;
        width: auto;
    }

    #banner-info img {
        height: 30vh;
    }

    /* about */
    #about-section {
        padding: 2rem;
        height: auto;
        padding-bottom: 50px;
    }

    /* highlights */
    #links-section {
        margin-top: -35px;
        width: 90%;
    }
    
    #links-section .container {
        flex-direction: column;
    }
    
    .links-container h3, .links-container .subtitle {
        font-size: 1.3rem;
    }

    
    .links-container {
        padding: 25px;
    }

    .links-container.central {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: none;
        border-left: none;
    }

    /* residents */
    #residents-section h2, #residents-section p {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    #residents-section img {
        height: 15vh;
    }

    .photos {
        display: grid;
        justify-content: center;
        grid-gap: 10px;
        grid-template-rows: 100px 100px;
        grid-template-columns: 100px 100px 100px;
        grid-template-areas: 
            "davi toni rat"
            "mach pedr hulk"
        ;
    }

    /* footer */
    footer {
        padding: 50px 40px;
    }
    
    footer form {
        width: 90%;
    }

    .detail {
        margin-top: 10px;
        display: block;
    }
        
  }